[paths]
modules_path: /home/gustavo/PycharmProjects/aopm/src/modules
modules_keys_path: /home/gustavo/PycharmProjects/aopm/src/keys/gpg/modules
modules_sigs_path: /home/gustavo/PycharmProjects/aopm/src/modules/sig

[security]
# all expected fingerprints to the modules
# if you have more than 1, separate them with a space (" ")
expected_modules_fingerprints: CCF72463CD6A7AC5CA14731370DC662DBC281E7D